<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}!!
  </h1>
</div>
<div id="main" style="max-width:500px; position:relative; margin:auto;">
  <select class="form-control" style="margin-bottom:5px;" #sel>
    <option *ngFor=" let val of getSalutations();" [value]="val">{{val}}</option>
  </select>
  <input class="form-control" type="text" placeholder="User Name" #name>

  <button (click)="addUser(name.value, sel.value );" class="btn btn-block" style="margin-top:5px;">Add User</button>
</div>
<br>
<div style="max-width:500px; position:relative; margin:auto;">
  <table *ngIf="hasUsers" class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Name</th>
    </tr>
    <tr *ngFor="let user of getUserList()">
      <td>{{user.salutation}}</td>
      <td>{{user.name}}</td>
    </tr>
  </table>
</div>

